.header {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    background: #fafafa;
}

h2 {
    font-size: 32px;
    color: #201b1b;
    font-weight: 700;
}

.form-group input {
    width: 300px;
    padding: 8px;
    margin: 7px;
}

.form-group label {
    width: 197px;
    overflow: hidden;
    display: inline-block;
    font-size: 21px;
}

button {
    background: #f6f5fa;
    border: 1px solid #0f0d0d;
    padding: 9px 47px;
    font-size: 17px;
    outline: 0;
    border-radius: 5px;
    margin-left: 32px;
}




td {
    text-align: center;
    border: 1px solid black;
}

th {
    border: 1px solid;
    border-collapse: collapse;
}